.SearchResults {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  border-radius: 4px;
  border: 1px solid rgb(49, 63, 55);
  background-color: rgb(157, 208, 178);
}

.SearchResults h2 {
  color: rgb(49, 63, 55);
}

.results-placeholder {
  text-align: center;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
