.SearchResults {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgb(106, 136, 118);
  box-shadow: 0 4px 2px 2px rgb(49, 63, 55);
}

.results-placeholder {
  text-align: center;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
