.Track {
  display: flex;
  align-items: center;
  background-color: rgb(106, 136, 118);
  box-shadow: 0 4px 2px 2px rgb(49, 63, 55);
  margin: 25px 0;
  padding: 2rem;
}

.Track-action {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: color 0.25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.Track-action:hover {
  color: rgba(265, 265, 265, 0.5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: fit-content;
  color: black;
}

.Track-image {
  margin-right: 15px;
}

.Track-information h3 {
  margin: 0.92rem 0 0.65rem 0;
}

.Track-information p {
  font-size: 0.83rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.Track-audioPlayer {
  width: 130px;
}

.preview-btn {
  cursor: pointer;
  background-color: rgb(137, 177, 152);
  color: white;
  border-radius: 10px;
  padding: 0.43rem 0.92rem;
  border: none;
  letter-spacing: 0.5px;
  font-size: 0.85rem;
  margin-bottom: 0.75rem;
}

.preview-btn:hover {
  background-color: rgb(49, 63, 55);
}

audio {
  margin-bottom: 0.66rem;
}
