.GlobalTrack {
  color: rgb(55, 70, 61);
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(55, 70, 61);
  width: 100%;
  padding: 0.48rem;
  justify-content: space-between;
}

.GlobalTrack-rank {
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(55, 70, 61);
  background-color: white;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 50%;
}

.GlobalTrack-content {
  display: flex;
  align-items: center;
}

.GlobalTrack-audioPlayer {
  width: 125px;
  margin-left: 2rem;
}

audio::-webkit-media-controls-panel {
  background: rgb(55, 70, 61);
}

audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 50%;
  padding: 1.33rem;
  color: white;
}

@media only screen and (max-width: 920px) {
  .GlobalTrack-content {
    align-items: flex-start;
    flex-direction: column;
  }

  .GlobalTrack-audioPlayer {
    margin-left: 0;
    margin-top: 10px;
  }
}
