body,
html,
#root {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  background-color: rgb(89, 114, 99);
  text-align: center;
  /* font-family: "Poppins", sans-serif; */
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #9fd1b2;
}

h2 {
  font-size: 1.55rem;
}

.App {
  height: 100%;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  padding: 0 17% 10%;
}

.results-loader {
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(63, 82, 71);
  background-color: rgb(63, 82, 71);
  color: white;
}

footer p {
  margin: 2.33rem 7.33rem;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
