body,
html,
#root {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(89, 114, 99);
}

h1 {
  margin-right: 40px;
  padding: 0.77rem 0;
  background-color: rgb(89, 114, 99);
  text-align: center;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #9fd1b2;
}

h2 {
  font-size: 1.55rem;
}

.App {
  height: 100%;
  font-weight: 500;
  color: #fff;
}

.App-header {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.App-header p {
  font-size: 1rem;
  color: white;
}

.App-login {
  padding: 0.65rem;
  border-radius: 4px;
  border: none;
  background-color: rgb(89, 114, 99);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.App-login:hover {
  background-color: #9fd1b2;
  color: rgb(89, 114, 99);
  transition: all 0.3s;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  padding: 0 17% 10%;
  background-color: #e1faea;
  padding-top: 50px;
}

.App-global {
  width: 70%;
  margin: 0 auto;
}

.App-top50 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px 0;
}

.results-loader {
  margin: auto;
  display: flex;
  align-items: center;
}

.results-loader p {
  margin-right: 20px;
  color: rgb(89, 114, 99);
  font-size: 1.5rem;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(63, 82, 71);
  background-color: rgb(63, 82, 71);
  color: white;
}

footer p {
  margin: 2.33rem;
}

@media only screen and (max-width: 1540px) {
  .App-top50 {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 360px) {
  .App-top50 h1 {
    margin: 0;
  }
  .App-header {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .App-header h1 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer p {
    margin: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media only screen and (max-width: 281px) {
  .App-playlist {
    width: 100%;
    padding: 0;
  }
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
