.PlaylistItem h3 {
  padding: 1.33rem;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.PlaylistItem h3:hover {
  background-color: rgb(137, 177, 152);
  transition: all 0.5s;
  cursor: pointer;
}
