.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0;
  margin-bottom: 6.33rem;
  background-image: url("../assets/background-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}

.SearchBar input {
  width: 287px;
  padding: 0.88rem 1.8rem;
  border: 4px solid rgb(106, 136, 118);
  border-radius: 25px;
  margin-bottom: 2.22rem;
  color: #313f37;
  text-align: center;
  font-size: 1.2rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #89b198;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgb(49, 63, 55);
}

@media only screen and (max-width: 368px) {
  .SearchBar input {
    width: 50vw;
  }
}
