.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0;
  background-image: url("../assets/background-photo2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}

.SearchBar input {
  width: 287px;
  padding: 0.88rem 1.8rem;
  border: 4px solid rgb(106, 136, 118);
  color: #313f37;
  text-align: center;
  font-size: 1.2rem;
}

.SearchBar-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #26312bcb;
  padding: 2.33rem;
  border-radius: 15px;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: 1.125rem 0;
  background-color: #89b198;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 4px solid rgb(106, 136, 118);
  border-left: none;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgb(49, 63, 55);
  border: 4px solid white;
}

.SearchButton:active,
.SearchBar:focus {
  outline: none;
}

.search-content {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 541px) {
  .SearchBar input {
    width: 50vw;
  }

  .SearchBar p {
    line-height: 2rem;
    text-align: center;
  }

  .search-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 281px) {
  .SearchBar-bg {
    padding: 1.33rem;
  }
}
