.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 37%;
  max-height: 950px;
  padding: 2.27rem 1.16rem;
  background-color: rgb(106, 136, 118);
  box-shadow: 0 4px 2px 2px rgb(49, 63, 55);
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin-top: 1.27rem;
  margin-bottom: 2rem;
  background-color: rgb(137, 177, 152);
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-save:hover {
  background-color: rgb(49, 63, 55);
}

.loader {
  display: flex;
  align-items: center;
}

.loader-msg {
  color: white;
  margin-right: 25px;
  font-size: 1.5rem;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.playlist-msg {
  margin: 0 0 25px 0;
  animation-name: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  margin-top: 25px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-input-placeholder {
  color: rgb(199, 199, 199);
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
